# Server
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/job-portal?retryWrites=true&w=majority

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Legacy fallback (optional)
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Redis (future)
REDIS_URL=

# Cloudinary (future)
CLOUDINARY_CLOUD_NAME=ml1hxwh7
CLOUDINARY_API_KEY=473815478646751
CLOUDINARY_API_SECRET=5Ex9_EbcotJe8sPXiRU0AyVxWcM

# Resend
RESEND_API_KEY=re_562y72Y6_KZHiQR1yzq8hmAKis8eKmUab
RESEND_FROM_EMAIL=
